export CFLAGS="-fPIE -fPIC"
auto/configure \
--prefix=/data/web/Nginx \
--conf-path=/data/web/Nginx/etc/nginx.conf \
--error-log-path=/data/web/Nginx/var/error.log \
--http-log-path=/data/web/Nginx/var/log.log \
--pid-path=/data/web/Nginx/var/nginx.pid \
--lock-path=/data/web/Nginx/var/nginx.lock \
--http-client-body-temp-path=/data/web/Nginx/var/client_body_temp \
--http-proxy-temp-path=/data/web/Nginx/var/proxy_temp \
--http-fastcgi-temp-path=/data/web/Nginx/var/fastcgi_temp \
--http-uwsgi-temp-path=/data/web/Nginx/var/uwsgi_temp \
--http-scgi-temp-path=/data/web/Nginx/var/scgi_temp \
--with-pcre=/data/web/Core \
--with-openssl=/data/web/Core \
--with-zlib=/data/web/Core \
--with-pcre-opt=--host=aarch64-linux-android \
--with-cc=$CC \
--with-cc-opt='-I/data/web/Core/include -D__USE_GNU -Os -flto ' \
--with-ld-opt='-L/data/web/Core/lib -lz /data/web/Core/.libs/libpcre.a /data/web/Core/.openssl/lib/libssl.a /data/web/Core/.openssl/lib/libcrypto.a -Wl,-rpath,/data/web/Core/lib:/data/web/Core/lib64 -lz /data/web/Core/.libs/libpcre.a /data/web/Core/.openssl/lib/libssl.a /data/web/Core/.openssl/lib/libcrypto.a -Wl,--gc-sections -flto' \
--with-http_ssl_module \
--with-stream_ssl_module \
--with-http_v2_module \
--with-http_v3_module \
--with-http_gzip_static_module \
--with-http_stub_status_module \
--with-http_realip_module \
--with-http_sub_module \
--with-http_secure_link_module \
--with-http_dav_module=dynamic \
--with-http_addition_module \
--with-stream=dynamic \
--with-http_auth_request_module \
--with-http_slice_module \
--with-http_flv_module=dynamic \
--with-http_mp4_module=dynamic \
--with-http_gunzip_module \
--with-http_random_index_module \
--with-http_degradation_module \
--with-stream_realip_module \
--with-stream_ssl_preread_module \
--with-file-aio \
--with-threads \
--with-compat \
--with-debug \
--with-poll_module \
--with-select_module
