name: Build nginx for Android (aarch64)

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run build script
        run: |
          chmod +x build.sh
         sudo ./build.sh

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: nginx-android-aarch64
          path: nginx-android-aarch64.tar.xz
          retention-days: 7
